<% if @user.lists.count == 0 %>
  <p>No lists!</p>
<% else %>
  <p>
    <% @user.lists.each_with_index do |list, index| %>
      <span class="list-titles">
        <%= link_to list.title, "#list-#{list.id}" %></span><% unless index == @user.lists.count - 1 %>, <% end %>
    <% end %>
  </p>
<% end %>
