<%= form_for [list, item] do |f| %>
<h4>Add a To-Do item</h4>
  <div class="form-group">
    <%= f.label :name, class: 'sr-only' %>
     <%= f.text_field :name, class: 'form-control', placeholder: "Enter a new To-Do item" %>
  </div>
  <%= f.submit "Submit Item", class: 'btn btn-success pull-right' %>
<% end %>
